
*  { /* reset all margins */
margin: 0px;
padding: 0px;
}

body{
	background-color: #F5EEF8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width : 768px) {

#header-nav {
	position: fixed;
	background: rgba(255,255,255, 0.95);
	z-index: 1;
	width: 100%;
	height: 4em;
	box-shadow: 3px 2px 24px rgba(0,0,0, 0.5);
	z-index: 115;
}

.logo {
	margin: 1.2em;
	padding-left:10px;
	font-family: 'Cabin', sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	color: black;
	border-left: solid 5px yellow; 
}


.container {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"hero-section"
	"about-img"
	"about-text"
	"services-img"
	"services-text"
	"team-heading"
	"team-text"
	"container-form"
	"footer"
	;

}


.hero-section {
width: 100%;
height: 40em;
background: rgb(190,190,190);
background-size: cover;
z-index: 0;
}

.hero-text {
font-family: 'Cabin', sans-serif;
font-size: 3em;
color: white;
text-transform: uppercase;
text-align: center;
margin:5em auto auto auto;
width: 80%;
border-left: solid 5px yellow; 
text-shadow: 3px 2px 5px rgba(0,0,0, 0.4);

}


.hero-section p{
padding: 23px;
color: white;
font-size: 1.15em;
font-family: 'Times New Roman', serif;
text-align: center;
}

.about-img {
	grid-area: about-img;
 	background: rgb(32,32,32);
	margin: 0;
	min-height: 20px;
	z-index: 2;
	background-size: cover;
}

.about-img p{
	text-align: center;
	font-weight: 700;
	color: yellow;
	text-shadow: 2px 3px 0px rgba(255,255,255, 0.3);
	margin-top: -0.7em;
	font-family: 'Cabin', sans-serif;
	font-size: 3em;
}

.about-text {
	margin: -2px;
	padding: 23px 23px 5em 23px;
	background: rgb(32,32,32);
	grid-area: about-text;
 
}


.about-text p{
	font-size: 1.15em;
	color: rgb(210,210,210);
	font-family: 'Cabin', sans-serif;
 
}

.services-img {
	grid-area: services-img;
	background: white;
	margin: 0;
	min-height: 20px;
	z-index: 3;
}

.services-img p{
	text-align: center;
	font-weight: 700;
	color: rgb(150,150,150);
	text-shadow: 2px 3px 0px rgba(0,0,0, 0.7);
	margin-top: -0.7em;
	font-family: 'Cabin', sans-serif;
	font-size: 3em;
}

.services-text {
	padding: 23px 23px 5em 23px;
	font-family: 'Cabin', sans-serif;
	color: black;
	grid-area: services-text;
	background: white;
	font-size: 1.15em;
	min-height: 200px;
}




.team-heading {
	grid-area: team-heading;
	background: rgb(190,190,190);
	margin: 0;
	min-height: 20px;
	z-index: 3;
}



.team-heading p{
	text-align: center;
	font-weight: 700;
	color: rgb(0,0,0);
	text-shadow: 2px 3px 0px rgba(255,255,255, 0.7);
	margin-top: -0.7em;
	font-family: 'Cabin', sans-serif;
	font-size: 3em;
}

.team-text {
	grid-area: team-text;
	margin-top: -2px;
	font-family: 'Cabin', sans-serif;
	padding: 23px 0px 5em 0px;
	color: white;
	background: rgb(190,190,190);
}

.team-member-1 {
	background: url('../img/team_member1.jpeg');
	min-height: 11em;
	background-size: cover;
	margin-bottom: 23px;
	-webkit-clip-path: circle(5em at 50% 50%);
	background-position: center;
	clip-path: circle(5em at 50% 50%);
}

.team-text p{
	text-align: center;
	font-size: 2em;
	color: yellow;
	text-shadow: 2px 3px 0px rgba(0,0,0, 0.5);
}


.team-member-2 {
	background: url('../img/team2.jpeg');
	min-height: 11em;
	background-size: cover;
	margin: 23px 0px 23px 0px;
	background-position: center;
	-webkit-clip-path: circle(5em at 50% 50%);
	clip-path: circle(5em at 50% 50%);

}

.team-member-3 {
	background: url('../img/team_member3.jpeg');
	min-height: 11em;
	background-size: contain;
	margin: 23px 0px 23px 0px;
-webkit-clip-path: circle(5em at 50% 50%);
background-position: center;
clip-path: circle(5em 50% 50%);
	
}

.container-form {
	grid-area: container-form;
	background: black;
}


#contact input[type="text"], 
#contact input[type="email"], 
#contact input[type="tel"], 
#contact textarea, 
#contact button[type="submit"] { 
	font-family: 'Cabin', sans-serif;
	 }

.contact-heading {
	text-align: center;
	font-weight: 700;
	color: white;
	text-shadow: 2px 3px 0px rgba(0,0,0, 0.3);
	margin-top: -1.2em;
	margin-bottom:2em;
	font-family: 'Cabin', sans-serif;
	font-size: 3em;
}

	#contact {
	 color: white;
	background: black;
	padding:23px 0px 70px 0px;

}


fieldset {
	border: none !important;
	margin: 10px 23px 0px 23px !important;
}

#contact input[type="text"], 
#contact input[type="email"], 
#contact input[type="tel"], 
#contact textarea {
	background: white;
	width: 99%;
	text-align: center;
	padding: 10px 0px 10px 0px;
}

#contact textarea {
	padding-bottom: 4em;
	margin-bottom: -5px;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border: none;
	background:yellow;
	color:black;
	padding:10px;
	font-size:20px;
}



#contact button[type="submit"]:hover {
	background:grey;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }



.footer {
	grid-area: footer;
	font-family: 'Cabin', sans-serif;
	padding: 10px;
	height: 4em;
	font-size: 0.8em;
	margin-top: -2px;
	color: grey;
	text-align: center;
	background: black;
	box-shadow: -3px -2px 24px rgba(0,0,0, 0.5);
}



}

